.header{
font-size: 20px;
padding: 10px;
text-align: center;
padding-bottom: 10px;
}

a{
    color: grey;
    text-decoration: none;
    margin: 15px;
}

img{
    padding: 0px 120px 0px;
    
}

h1,span{
    padding: 20px
}
  
h3{
    font-size: 15px;
    padding: 10px 0 0 70px;

}

p{
    border: 20px solid green;
    margin: 80px;
    margin-top: 20px;
    
}

    
   
