.header{
    padding-left: 30%;
    margin: 20px;
    font-size: 20px;
    border-bottom: 1px solid gray;   
}

 .nav a{
    text-decoration: none;
    color:grey ;
    margin: 15px; 
 }

 .main h1, .main img{
    padding: 10px;
   
 }
 .main2{
    padding: 10px;
   
 }

 .main3{
    padding: 10px;
    
 }

.green {
    border: 20px solid green;
    width: 70%;  
}

.grey{
    border: 20px solid grey;
    width: 30%;
}

.analog{
    display: flex;
    padding: 10px;
    margin: 30px;
    
}

.green2{
    border: 20px solid green;
    width: 85%;  
}

.grey2{
    border: 20px solid grey;
    width: 15%;
}

.green3{
    border: 20px solid green;
    width: 70%;
}

.grey3{
    border: 20px solid grey;
    width: 30%;
}

.liniya{
    border-bottom: 1px solid grey;
}

.Grafika,.geymplay,.syujet{
    font-size: 20px;
  margin: 30px;
}
